@font-face {
  font-family: "Fena";
  src: url(font/FENA.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

/* #grad {
    background-image: linear-gradient(blue, indigo);
  } */

html {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #af8809;
  /* background-image: linear-gradient(
    to bottom,
    #e8e7f1 75%,
    rgb(48, 48, 48)
  ) */
}

body {
  padding-bottom: 10vh;
}

a {
  /* text-decoration: none; */
}

a:link {
  color:rgb(40, 122, 230);
}

a:visited {
  color:rgb(186, 183, 249);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vh;
  padding: 0;  /* Adds some padding to the left and right */
}

.navbar a {
  color: lightgray;
  padding: 10px 10px;
  font-family: sans-serif;
}

.right {
  float: right;
}

.left {
  float: left;
}

.navbar .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  top: 0;
  position: fixed;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

#marwan {
  width: 50vw;
}

.centerImg {
  display: block;
  width: 95vw;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

.credit {
  margin-bottom: 20px;
}

.creditImg {
  width: 40vw;
  float: right;
  margin: 10px;
}

.creditImgLeft {
  width: 40vw;
  float: left;
  margin: 10px;
}
.creditPara {
  margin-left: 0vw;
  text-align: left;
  text-justify: inter-word;
}

.social {
  display: block;
  margin: 0 auto;
  width: 10%;
  padding: 2px;
}

.blue {
  color:rgb(44, 44, 44);
}

.big {
  font-size: 150%;
}

.coverButton {
  /* border: 1px solid rgb(4, 100, 243); */
  background-color: rgb(10, 10, 10);
  width: 60vw;
  border-radius: 30px;
  box-shadow: 10px 7px 5px rgb(89, 89, 89);
  /* padding: 5px; */
}

.coverButton:hover {
  background: lightgray;
}

.left {
  align-items: left;
}

.right {
  align-items: right;
}

.coverButton a {
  font-size: medium;
  color: rgb(255, 255, 255);
}

.content {
  padding: 10px;
  display: none;
  overflow: hidden;

}

#MC {
  color:rgb(215, 242, 240);
}

p {
  margin: auto;
  width: 95%;
  padding: 10px;
  font-family: sans-serif;
  color: rgb(231, 231, 231);
  /* font-size: small; */
}

ul {
  font-family: sans-serif;
  margin: auto;
  width: 80%;
  padding: 10px;
  list-style-type: "";
  color: rgb(231, 231, 231);
}

.scenes {
  font-size: large;
  padding-left: 40px;
  text-indent: -40px;
}

.title {
  font-size: 500%;
}

h1 {
  font-family: sans-serif, cursive;
  font-weight:bold;
  font-size: 22px;
  margin: auto;
  align-self: center;
  width: 90%;
  padding: 10px;
  color: rgb(231, 231, 231);
  /* display: inline-block; */
  /* margin-left: auto;
  margin-right: auto; */
}

h2 {
  font-family: sans-serif, cursive;
  margin: auto;
  font-size: 22px;
  width: 90%;
  padding: 10px;
  color:rgb(231, 231, 231);
}

h3 {
  font-family: sans-serif;
  margin: auto;
  /* width: 80%; */
  padding: 10px;
  color:rgb(231, 231, 231);
}

.clear {
  color:rgb(1, 111, 85);
}

h4 {
  margin: auto;
  width: 80%;
  padding: 10px;
  color: rgb(231, 231, 231);
}

h5 {
  font-family: sans-serif;
  /* margin: auto;
  text-align: center; */
  /* width: 80%; */
  padding: 10px;
  color:rgb(231, 231, 231);
}
